.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin: 20px 15px;
  width: 95%;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  height: max-content;
}

.lsTitle{
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem>label{
  font-size: 12px;
}

.lsItem>input{
  height: 30px;
  border: none;
  padding: 5px;
}
.lsItem>span{
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions{
  padding: 10px;
}

.lsOptionItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput{
  width: 50px;
}

.listSearch>button{
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 3;
}
@media (max-width: 705px) {
  .listSearch{
     display:flex;
     position:fixed;
     bottom:0px;
     width: 100%;
  }
  .listSearch .lsItem{
      padding: 0px 2%;
      width:20%;
  }
  .listSearch .lsTitle{
    display:none;
  }
  .listSearch button{
    padding:5px;

  }
}
@media (max-width: 526px) {
  .searchItem img{
    width:100px;
    height:120px;
  }
}
@media (max-width: 400px) {
  .siDetails{
    padding-right: 20px;
  }
  .siPrice{
     font-size: 20px !important;
     margin-right: 20px;
  }
  .siTitle{
    font-size: 15px !important;
  }
  .siDesc{
    width: 70px;
    padding: 10px;
  }
  .searchItem{
    gap:10px;
  }
  .siTaxOp{
    font-size:10px !important;
    width: 80%;
  }
  .siCheckButton{
    font-size: 12px !important;
  }
}