.featured{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
  cursor:pointer;
  margin-bottom: 10px;
  position:relative;
}
.featured .loading_icon_wrapper{
  position:relative;
  width:100%;
  height:100px;
}
.featured .loading_icon_wrapper .loading_icon{
  animation: RotateLoadingIconFeature 0.1s infinite;
  position:absolute;
  left:48%;
  top:10%;
  color: rgba(0, 0, 255, 0.6);
  box-shadow: -4px 4px 50px 12px rgba(0, 0, 255, 0.4) ;
}
.featured .ShowMore{
  position: absolute;
  bottom: -20px;
  left: 0px;
  color: rgba(0, 0, 255, 0.6);
  cursor: pointer;
  z-index: 2;
}
.featured .ShowMore:hover{
  transition:all 0.3s;
  transform:scale(1.05);
  font-weight:800;
  color:rgba(0, 0, 255, 0.8);
}
.ele_form_show_more_link,
.ele_form_show_more{
  display:flex;
  width:100%;
  padding:15px;
}
.ele_form_show_more_img{
  width:40px;
  height:40px;
  border-radius:50%;
}
.ele_form_show_more:hover .ele_form_show_more_img{
  transition:all 0.3s;
  transform:rotate(360deg);
}

.ele_form_show_more_name{
  color: rgba(0, 0, 255, 0.6);
  margin:10px;
  cursor: pointer;
  z-index: 2;
}
.ele_form_show_more_name:hover{
  transition:all 0.3s;
  transform:scale(1.05);
  font-weight:800;
  color:rgba(0, 0, 255, 0.8);
}
.featuredItem{
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex:1
}

.featuredImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: ScaleImgFeature 3s infinite;
}

.featuredTitles{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.list_hotel_in_city,
.form_show_more{
  position:fixed;
  background-color:white;
  width:40%;
  height:50%;
  top:30%;
  left:30%;
  right:30%;
  border-radius:5px;
  z-index:10;
}
.background_blur_feature{
    width: 100%;
    height: 100%;
    background-color: rgba(247, 237, 255, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.featuredTitles:hover h1{
   transition:all 0.3s;
   transform:rotate(360deg)
}
.list_hotel_City{
  position:fixed;
  background-color:white;
  width:40%;
  height:50%;
  top:30%;
  left:30%;
  right:30%;
  border-radius:5px;
  z-index:10;
}
@media (max-width: 545px) {
  .final{
    display:none;
  }
}

@keyframes ScaleImgFeature{  
  50%{transform:scale(1.03)};
}

@keyframes RotateLoadingIconFeature{  
  50%{transform:rotate(360deg)};
}