.footer{
  width: 90%;
  font-size: 12px;
  position: relative;
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fList{
  list-style: none;
  padding: 0;
}

.fListItem{
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}

.footer .Image_footer{
  position: absolute;
  width: 130%;
  height: 130%;
  top: -20%;
  left: -10%;
  z-index: -1;
}

@media (max-width: 703px) {
  .final{
    display:none;
  }
}
